#friends-display-link {
  text-align: center;
  display: block;
  position: fixed;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  top: 85px;
  width: 100%;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
