.nav {
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  position: absolute;
  font-weight: 600;
  left: 15px;
  bottom: 15px;
}

.ellipsis {
  width: 8px;
  height: 8px;
  position: inherit;
  top: 5px;
  left: 27px;
}
